In [27]:
import torch
from models import vgg19
from PIL import Image
from torchvision import transforms
import cv2
import numpy as np
import os
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import glob

device = torch.device("cpu")
# device = torch.device('cuda:0')
print(f'device is {device}')
print(f'num of device is {torch.cuda.device_count()}')

device is cpu
num of device is 2

In [2]:
import torch
print(torch.__version__)
print(torch.cuda.get_arch_list())

1.10.0+cu113
['sm_37', 'sm_50', 'sm_60', 'sm_70', 'sm_75', 'sm_80', 'sm_86']

In [57]:
ROOT_PATH = os.getcwd()
data_path = ROOT_PATH+'/datasets/test'
model_path = ROOT_PATH+'/pretrained_models/model_qnrf.pth'
result_root_path = ROOT_PATH+'/new_results/'
ROOT_PATH,data_path, model_path, result_root_path

('/abr/coss06/nov_dm/DM-Count',
 '/abr/coss06/nov_dm/DM-Count/datasets/test',
 '/abr/coss06/nov_dm/DM-Count/pretrained_models/model_qnrf.pth',
 '/abr/coss06/nov_dm/DM-Count/new_results/')

In [18]:
# load model
model = vgg19()
model.to(device)

model.load_state_dict(torch.load(model_path, device))

In [74]:
# predict model
model.eval()
def predict(inp, image_name):
    global result_folder_path
    inp = cv2.imread(inp)
    inp = Image.fromarray(inp.astype('uint8'), 'RGB')
    inp = transforms.ToTensor()(inp).unsqueeze(0)
    inp = inp.to(device)
    with torch.set_grad_enabled(False):
        outputs, _ = model(inp)
    count = torch.sum(outputs).item()
    vis_img = outputs[0, 0].cpu().numpy()
    # normalize density map values from 0 to 1, then map it to 0-255.
    vis_img = (vis_img - vis_img.min()) / (vis_img.max() - vis_img.min() + 1e-5)
    vis_img = (vis_img * 255).astype(np.uint8)
    vis_img = cv2.applyColorMap(vis_img, cv2.COLORMAP_HSV)
    vis_img = cv2.cvtColor(vis_img, cv2.COLOR_BGR2RGB)

    # increase the resolution of the density map
    vis_img = cv2.resize(vis_img, None, fx=8, fy=8, interpolation=cv2.INTER_LINEAR)

    # Add count as a caption in the upper right corner of the image
    font = cv2.FONT_HERSHEY_SIMPLEX
    font_scale = 1
    thickness = 2
    text = f"Count: {round(count,2)}"
    print(text, "is detected")
    text_size, _ = cv2.getTextSize(text, font, font_scale, thickness)
    height, width, _ = vis_img.shape
    margin = 10
    x = width - text_size[0] - margin
    y = text_size[1] + margin
    cv2.putText(vis_img, text, (x, y), font, font_scale, (255, 255, 255), thickness, cv2.LINE_AA)

    result_folder = result_folder_path
    if not os.path.exists(result_folder):
        os.makedirs(result_folder)
        print(f'result folder is not found, making dir at {result_folder}')
    result_path = os.path.join(result_folder, f"{os.path.splitext(os.path.basename(image_name))[0]}_density_map.png")
    print(f'density map file saved at {result_path}')
    cv2.imwrite(result_path, vis_img)
    return round(count,2)

In [130]:
# predict and save all the images
image_folders = sorted(os.listdir(data_path))[2:]

for image_folder in image_folders[3:4]:
    # load xlsx file from test dataset(ground_truth)
    df = pd.read_excel(folder_path + '/' + os.path.splitext(os.path.basename(folder_path))[0] + '.xlsx')
    
    # path
    folder_path = data_path + '/' + image_folder
    result_folder_path = result_root_path + image_folder
    imgs = sorted(glob.glob(folder_path + "/*.png")) #+ glob.glob(folder_path + "/*.jpg"))
    print(imgs)
    # create new column for dm-count
    df['dm-count'] = [-1] * len(imgs)
        
    #predict all the images in a folder
    for idx, img in enumerate(imgs):
        # get count result
        count_result = predict(img, img) 
        # append in the df
        df.loc[df['order'] == int(os.path.splitext(os.path.basename(img))[0]), 'dm-count'] = count_result
#         print(df)
    #save csv file in each test result folder
    csv_save = result_folder_path + '/' + os.path.splitext(os.path.basename(folder_path))[0] + '.csv'
    df.to_csv(csv_save, index=False)
    print(f'{image_folder} test is done and saved result csv file')

['/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/1.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/10.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/2.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/3.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/4.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/5.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/6.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/7.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/8.png', '/abr/coss06/nov_dm/DM-Count/datasets/test/60_80/9.png']
Count: 11.94 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/1_density_map.png
Count: 51.89 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/10_density_map.png
Count: 18.94 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/3_density_map.png
Count: 6.1 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/4_density_map.png
Count: 67.01 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/5_density_map.png
Count: 59.89 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/6_density_map.png
Count: 41.99 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/7_density_map.png
Count: 44.46 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/8_density_map.png
Count: 78.93 is detected
file saved at /abr/coss06/nov_dm/DM-Count/new_results/60_80/9_density_map.png
60_80 test is done and saved result csv file

In [128]:
os.path.splitext(os.path.basename(img))[0]

'2'

In [126]:
print('done')

done

In [127]:
df

   order  count  dm-count
0      1     62     11.94
1      2     65     -1.00
2      3     65     -1.00
3      4     66     -1.00
4      5     70     -1.00
5      6     71     -1.00
6      7     72     -1.00
7      8     77     -1.00
8      9     78     -1.00
9     10     79     51.89

In [107]:
result_folder_path

'/abr/coss06/nov_dm/DM-Count/new_results/0_20'

In [109]:
os.path.splitext(os.path.basename(folder_path))[0]

'0_20'

In [111]:
csv_save = result_folder_path + '/' + os.path.splitext(os.path.basename(folder_path))[0] + '.csv'
csv_save

'/abr/coss06/nov_dm/DM-Count/new_results/0_20/0_20.csv'

In [114]:
csv_save = result_folder_path + '/' + os.path.splitext(os.path.basename(folder_path))[0] + '.csv'
df.to_csv(csv_save, index=False)

In [118]:
pd.read_csv(csv_save)

   order  count  dm-count
0      1     16     13.39
1      2     18     18.42
2      3     11      4.61
3      4     11      1.43
4      5     10      6.33
5      6      8     15.90
6      7      9      0.52
7      8     19      0.00
8      9     10      9.72
9     10     11     13.65

In [65]:
folder_path,  os.path.splitext(os.path.basename(folder_path))[0]

('/abr/coss06/nov_dm/DM-Count/datasets/test/0_20', '0_20')

In [83]:
folder_path,  os.path.splitext(os.path.basename(img))[0]

('/abr/coss06/nov_dm/DM-Count/datasets/test/0_20', '10')

In [104]:
df = pd.read_excel(folder_path + '/' + os.path.splitext(os.path.basename(folder_path))[0] + '.xlsx')
df[df['order'] == int(os.path.splitext(os.path.basename(img))[0])]['count'] =999

df.loc[df['order'] == int(os.path.splitext(os.path.basename(img))[0]), 'count'] = -500
df

   order  count
0      1     16
1      2     18
2      3     11
3      4     11
4      5     10
5      6      8
6      7      9
7      8     19
8      9     10
9     10   -500